<div class="grid">
  <div class="grid-item">
    <img class="portfolioimage" src="assets/img/cop_aisico-bia.jpg" />
  </div>
  <div class="grid-item">
    <img class="portfolioimage" src="assets/img/cop_aisico-bia.jpg" />
  </div>
  <div class="grid-item">
    <img class="portfolioimage" src="assets/img/cop_aisico-bia.jpg" />
  </div>
  <div class="grid-item">
    <img class="portfolioimage" src="assets/img/cop_aisico-bia.jpg" />
  </div>
  <div class="grid-item">
    <img class="portfolioimage" src="assets/img/cop_aisico-bia.jpg" />
  </div>
  <div class="grid-item">
    <img class="portfolioimage" src="assets/img/cop_aisico-bia.jpg" />
  </div>
  <div class="grid-item">
    <img class="portfolioimage" src="assets/img/cop_aisico-bia.jpg" />
  </div>
</div>
