---
layout: default
---

<div class="container-fluid px-0">
  {% for image in page.images %}
  <div class="row margin20">
    <div class="col-md-2">
      {% if forloop.first %}
      <div><strong>{{page.name}}</strong></div>
      <div>{{page.description}}</div>

      <div class="margin20"></div>
      {% endif %}
    </div>

    <div class="col-md-10">
      <img
        class="img-fluid w-100"
        src="{{image.path}}"
        alt="{{image.description}}"
      />
    </div>
  </div>
  {% endfor %}

  <div class="row margin100top">
    <div class="col-md-2">
    </div>
    <div class="col-md-10">
      <div class="centerBlock">

      {% for project in site.projects %}
      {% if project.url == page.url %}
      {% unless forloop.first %}
      <a class="nolinkstyle" href="{{ site.url }}{{ prev.url }}">&lt;&lt; previous project</a>
      {% endunless %}
       // 
      {% unless forloop.last %}
         {% assign next = site.projects[forloop.index] %}
         <a class="nolinkstyle" href="{{ site.url }}{{ next.url }}">next project &gt;&gt;</a> 
      {% endunless %}
      {% endif %}
      {% assign prev = project %}
      {% endfor %}
      </div>
    </div>
  </div>



</div>


